body {
    margin: 0px;
    height: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: #000000;
}

.navul {
    display: flex;
    margin-left: 40px;
}

.navul li {
    list-style-type: none;
    margin: 12px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-left: 19px;
    color: white;
    border-left: 2px solid rgba(0, 0, 0, 0.288);
}

.navul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}




/*section1*/


.sectn3{
    background: url(./img/ho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.transparent{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.719);
    position: relative;
}
.section1-box{

width: 700px;
height: 300px;

margin-left: 10% ;
margin-top: 5%;
position: absolute;
}
.section1-box h1{
    color:white;
    margin: 0px;
    font-size: 40px;

}
.section1-box p {
    color:rgba(255, 255, 255, 0.315);
    text-align: justify;
}
#lol{
    margin-left: 0px;
}








/*section2*/
.section2 {
    width: 100%;
    height: 500px;
    background-image: url(./img/wave.svg);
    background-size: cover;
    margin-bottom: 80px;
}

.boxerbap {
    display: flex;
    justify-content: space-around;
}

.lorem {
    font-size: 30px;
    text-align: center;
}

.box3 {

    width: 25%;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 15px;
    box-shadow: 2px 1px 9px black;
}

.web {}

.box3 img {
    width: 100px;
    height: 100px;
    margin: 5px auto;
    display: block;
}

.webtittle {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: rgb(255, 255, 255);

}

.web-pera {
    text-align: justify;
    margin-top: 37px;
    color: white;
}

.btn {
    margin: 49px auto;
    display: block;
}

.services {
    box-shadow: 2px 1px 9px rgba(0, 0, 0, 0.116);
    font-weight: 900;
}


/*section1*/

.sectn{
    width: 100%;
    height: 500px;
}

.section3{
    
    background: url(./img/ho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*section3*/
.section1 {
    width: 100%;
    height: 500px;
    background-image: url(./img/ddd.png);
    background-size: cover;

    display: flex;
    background-repeat: no-repeat;
}

button a {
    text-decoration: none;
    color: white
}

.box1 {
    width: 40%;

    margin: 5%;
    padding: 15px;

    font-family: 'Poppins', sans-serif;

    box-shadow: 1px 1px 9px #000000;
}

#img {
    background-image: url(./img/mypic.png);
    background-position: left;
    background-size: cover;
    background-position-x: 75px;
}

.pf {
    color: tomato
}

.box1 h1 {
    font-size: 40px;
    color: tomato;
}

.p1 {
    font-size: 35px;
    margin-top: -27px;
    font-weight: 700;
}

.p2 {
    font-size: 18px;
}

.box1 h2 {}

.c {
    color: tomato;
}

.pera {
    width: 200px;
    text-align: justify;
    word-spacing: -9px;
}

button {
    padding: 8px 54px;
    background-color: tomato;
    color: wheat;
    font-size: 16px;
    border: none;
    font-weight: bold;

    position: relative;
    z-index: 2;
    border-radius: 3px;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0px;
    transition: 0.6s;
    background-color: black;

    height: 0%;
    z-index: -1;
    width: 100%;
}

button:hover::before {
    border-radius: 0px 0px 50% 50%;
    height: 150%;
}
